Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import sklearn

Load the data that will be used to train the model.
Here we are using boston house pricing dataset which is available in the sklearn library itself.

In [2]:
from sklearn.datasets import load_boston
df=load_boston()

In [ ]:
df

In [ ]:
df.keys() #Return all the keys of the dataset dictionary

In [ ]:
type(df) #Returns the type of df

In [23]:
print(df.feature_names)# Returns all the columns names

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [ ]:
print(df.DESCR) #Info about the dataset, metadats about the data

In [24]:
print(df.data)# Info about dataset(only coumns which will be needed to predict the target values i.e price of the houses)

[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]]

In [ ]:
print(df.filename)# Returns the path of the csv file

In [ ]:
print(df.target)# Prediction column

We convert our dataset into the pandas dataframe, so that it is easier to analyse the data

In [ ]:
boston=pd.DataFrame(df.data, columns=df.feature_names)
boston.head()

Adding a new column of target values to the dataframe

In [13]:
boston['MEDV']=df.target
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

Check if the dataset contains any null value or not

In [14]:
boston.isnull()

      CRIM     ZN  INDUS   CHAS    NOX  ...    TAX  PTRATIO      B  LSTAT   MEDV
0    False  False  False  False  False  ...  False    False  False  False  False
1    False  False  False  False  False  ...  False    False  False  False  False
2    False  False  False  False  False  ...  False    False  False  False  False
3    False  False  False  False  False  ...  False    False  False  False  False
4    False  False  False  False  False  ...  False    False  False  False  False
..     ...    ...    ...    ...    ...  ...    ...      ...    ...    ...    ...
501  False  False  False  False  False  ...  False    False  False  False  False
502  False  False  False  False  False  ...  False    False  False  False  False
503  False  False  False  False  False  ...  False    False  False  False  False
504  False  False  False  False  False  ...  False    False  False  False  False
505  False  False  False  False  False  ...  False    False  False  False  False

[506 rows x 14 columns]

isnull return True or False for each cell in the dataframe, but we can't go exploring all the cells to look for True values if any, so we use sum() function to count all the cells with True value(i.e. Null cells)

In [15]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

We never train the model on all the data that we have, we always make sure to atlest have a test dataset, which is different from training dataset

In [16]:
from sklearn.model_selection import train_test_split

X=boston.drop('MEDV', axis=1)
Y=boston['MEDV']

## Splittting the dataset into the train and test set to make sure the model works well
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.15, random_state=5)

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(430, 13)
(76, 13)
(430,)
(76,)

Now import the Linear Regression model from sklearn and train it on the training dataset

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Fitting Model on the Training Dataset
lin_model=LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
 y_train_predict=lin_model.predict(X_train)
 rmse=(np.sqrt(mean_squared_error(Y_train,y_train_predict)))

 print("The model performance for training set")
 print('RMSE is {}'.format(rmse))
 print("\n")

 #on testing set
 y_test_predict=lin_model.predict(X_test)
 rmse=(np.sqrt(mean_squared_error(Y_test, y_test_predict)))

 print("The model performance for testing set")
 print('RMSE is {}'.format(rmse))

The model performance for training set
RMSE is 4.710901797319796


The model performance for testing set
RMSE is 4.687543527902972